
body{
    padding:0;
    margin:0;
     font-family: 'Roboto' ,sans-serif;
     background:linear-gradient( rgb(255, 255, 255) , #babfce);
    overflow:hidden;
}

header{
    background-color:#415e9b;
    height: 82px;
    border-bottom:1px solid hsl(225, 7%, 22%);
    font-weight:100;
    font-size: 12px;
}

.fblog{
    width:1500px;
    margin:0 auto;

}

.fblogo{
    width:600px;
    float: left;
    padding-left:250px;
}

.fb_login{
    width: 500px;
    float: left;
    padding-top: 20px;
}

.fblogo img{
    padding-top: 25px;
    padding-bottom: 25px;
}

.fblog  label{
    color: #fff;
    vertical-align: 3px;
}

.email{
 float: left;
}

.email label{
 padding-bottom:10px;
}

.email input[type="text"]{
    height:20px;
    width:150px;
    border: 1px solid #1d2a5b;

}

.password{
 float: left;
 margin-left: 15px;
}

.password label{
 padding-bottom:10px;
}

.password input[type="password"]{
    height:20px;
    width:150px;
    border: 1px solid #1d2a5b;
}

.password a{
    display:inline-block;
    color: #8fb1d8;
    text-decoration: none;
    padding-top:3.5px;
}

.login-button{
 float: left;
 margin-top:20px;
 margin-left:20px;
}

.login-button input[type="submit"]{
    background: #4267b2;
    border:1px solid #29487d;
    border-radius:20x;
    color:#fff;
    height:20px;
    width:50px;
}

.clearfix{
    clear:right;
}

.main{
    width:980px;
    height:600px;
    margin-left: auto; 
    margin-right: auto;
    margin-top:0;
    margin-bottom:0;
}

.left{
    float:left;
    margin-top:20px;
    width:400px;
    color:#0e385f;
}

.left #lft{
    font-size:20px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom: 20px;
    font-family:"Arial";
}

.right{
    float:right;   
}

.right #crt{
    font-size:37px;
    font-weight:bold;
    margin-bottom: 0px;
    padding-bottom:0px;  
    margin-top: 8px;
    font-family:"Arial";
}

.right #act{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:18px;
    font-family:"Arial";
}

.ipt{
    width:180px;
    height:35px;
    margin-left:5px;
    margin-top:10px;
    margin-right:0;
    border-radius: 5px;
    border:none;
    border:1px solid #95a5a6;
    padding-left:10px;
    font-size:20px;
    font-family:"Arial";
}


.ipt2{
    width:180px;
    height:35px;
    margin-left:5px;
    margin-top:10px;
    margin-right:0;
    border-radius: 5px;
    border:none;
    border:1px solid #95a5a6;
    padding-left:10px;
    font-size:20px;
    font-family:"Arial";
}

.ipt3{
   width:380px;
   height:35px;
   margin-left:5px;
   margin-top:10px;
   border-radius: 5px;
   border:none;
   border:1px solid #95a5a6;
   padding-left:10px;
   font-size:20px;
   font-family:"Arial";
}

.right #brt{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size:18px;
    font-family:"Arial";
}

.dropdown{
    width:60px;
    height:30px;
    padding:0;
}

.bdp p{
    display:inline-block;
    font-size:12px;
    font-family:"Arial";
    padding-left:5px;
    padding-top:0px;
    padding-bottom:20px;
    margin:0;
}

.bdp a{
   text-decoration: none;
   color: #3677bc;
}

.radb label{
    font-size:18px;
    padding-right: 10px;  
}

.infos{
    font-family: Arial;
    color:#77777a; 
    font-size:11px;
    margin:0;
    padding:0;
}

.infos a{
    text-decoration:none;
    color: #3677bc;
}

.button input[type="submit"]{
   padding:10px 60px;
   background: linear-gradient(#5db13b, #337522);
   border:1px solid #3b6e22;
   border-radius: 5px;
   font-size: 18px;
   text-shadow: 1px  #000000;
   font-weight:bold;
   color:#fff;
   margin-top:15px;
   margin-bottom: 15px;

}

.button input[type="submit"]:hover{
    background: linear-gradient(#6fda44, #337522);
    cursor:pointer;
}

.celeb{
    display:inline-block;
    font-size:13px;
    font-family: Arial;
    color:#77777a; 
    font-weight:bold;
    margin-top:10px;
}

.celeb a{
    text-decoration:none;
    color: #3677bc;
}

.footer{
    display:block;
    background-color:#fff;
    width:2000px;
    height: 200px;
}

